/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* BUTTON 1 frontend */

a:nth-of-type(1) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump-right {
  animation-name: jump-right;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes jump-right {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(-50deg);
  }
}

/* BUTTON 2 design */

a:nth-of-type(2) {
  position: relative;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

a:nth-of-type(2):active {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px white;
}

/* BUTTON 3 & */

a:nth-of-type(3) {
  position: relative;
  background: var(--highlight-secondary);
  color: white;
  border-color: var(--secondary);
}

a:nth-of-type(3):active{
  top:10px;
  background-color: var(--highlight-primary);
  color: #050840;
  -webkit-box-shadow:inset 0 1px 0 white, inset 0 -3px 0 #468674;
  -moz-box-shadow:inset 0 1px 0 white, inset 0 -3px 0 #468674;
  box-shadow:inset 0 1px 0 white, inset 0 -3px 0 #468674;
}

/* BUTTON 4 development */

a:nth-of-type(4) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.blink {
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes blink{
  from{opacity:1;}
  to{opacity:0;}
}


/* BUTTON 5 sprint 5 */

a:nth-of-type(5) {
  position: relative;
  background: white;
  color: var(--secondary);
  border-color: var(--secondary);
}

a:nth-of-type(5):before {
  content: "5";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
a:nth-of-type(5):hover {
  text-indent: -9999px;
}
a:nth-of-type(5):hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

/* BUTTON 6 fix */

a:nth-of-type(6) {
  position: relative;
  background: var(--highlight-secondary);
  color: white;
  border-color: var(--secondary);
}

.rotate {
  animation-name: rotate;
  animation-duration: .2s;
  animation-iteration-count: 5;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}


/* BUTTON 7 the */

a:nth-of-type(7) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
  transition: color 0.25s 0.0833333333s;
}

a:nth-of-type(7)::before, a:nth-of-type(7)::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

a:nth-of-type(7)::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-radius: 30%;
}
a:nth-of-type(7)::after {
  border-top-width: 4px;
  border-right-width: 4px;
  border-radius: 30%;
}
a:nth-of-type(7):hover {
  color:var(--primary);
}
a:nth-of-type(7):hover::before, a:nth-of-type(7):hover::after {
  border-color: var(--primary);
  transition: 0s, 0.25s, 0.25s;
  width: 100%;
  height: 100%;
}
a:nth-of-type(7):hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
a:nth-of-type(7):hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/* BUTTON 8 flow */

a:nth-of-type(8) {
  position: relative;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--secondary);
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

a:nth-of-type(8)::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #9d7beb;
  z-index: -1;
  transition: 150ms ease-in-out;
}
    
a:nth-of-type(8):hover {
  color: #fff;
}

a:nth-of-type(8):hover::after {
  width: 110%;
}

/* BUTTON 9 user */

a:nth-of-type(9) {
  position: relative;
  background: var(--highlight-secondary);
  color: white;
  border-color: var(--secondary);
}

.blow-out {
  animation-name: blow-out;
  animation-duration: .3s;
  animation-iteration-count: 5;
}

@keyframes blow-out {
  0% {
    transform: scaleY(2.5);
  }
  50% {
    transform: translateY(10px) scale(2); 
  }
  100% {
    transform: translateY(20px) scaleY(2.5);
  }
}

/* BUTTON 10 interface */

a:nth-of-type(10) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

a:nth-of-type(10):hover {
  background-color: var(--secondary);
  color: var(--highlight-primary);
  letter-spacing: 10px;
  transition: 350ms ease-in-out;
}